In [ ]:
from forecast.predictor import run_forecast

# Elige la región
region = "pacifico"  # o "atlantico"

# Ejecutar el pipeline completo de forecast
forecast_df = run_forecast(region)

# Guardar o visualizar
forecast_df.to_csv(f"forecast_{region}.csv", index=False)
print(f"✅ Predicción realizada para la región {region}. Guardado como forecast_{region}.csv")

In [4]:
import pandas as pd
df_atla = pd.read_parquet(r"D:\PDG-ARMADA-FORECAST\datasets\atlantico.parquet")

In [7]:
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)

In [8]:
df_atla.describe()

,valid_time,latitude,longitude,swh,t2m,u10,v10,msl,sst,lsm,q_100.0,q_250.0,q_500.0,q_850.0,t_100.0,t_250.0,t_500.0,t_850.0,u_100.0,u_250.0,u_500.0,u_850.0,v_100.0,v_250.0,v_500.0,v_850.0,z_100.0,z_250.0,z_500.0,z_850.0
count,350784,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,3.507840e+05,350784.000000,3.507840e+05,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000
mean,2022-07-02 09:00:00,10.895833,-76.125000,1.395990,300.503784,-4.044739,-2.723960,101042.593750,301.587860,0.026823,3.206796e-06,0.000169,1.997700e-03,0.011364,194.186401,232.631516,268.402740,292.124786,-1.746138,2.508726,-4.614893,-4.721096,-0.845061,1.277450,0.325612,-0.434935,162900.625000,107647.648438,57650.472656,14812.616211
min,2020-01-01 00:00:00,9.000000,-78.000000,0.038841,295.902832,-16.492340,-12.688751,100414.937500,295.570801,0.000000,6.494705e-07,0.000002,4.868371e-07,0.000587,183.385666,226.883301,262.092957,286.581543,-29.410202,-29.185638,-26.277710,-27.488617,-27.582474,-31.385269,-21.511032,-13.040039,161782.187500,106552.000000,57059.285156,14233.929688
25%,2021-04-01 16:30:00,10.000000,-77.500000,0.828024,299.768799,-7.717373,-5.197159,100942.000000,300.736511,0.000000,2.632257e-06,0.000078,4.582773e-04,0.010293,192.474792,231.844414,267.707489,291.283386,-6.864414,-3.434307,-8.104645,-7.572830,-3.856609,-2.883217,-1.616714,-2.023975,162588.125000,107452.437500,57543.437500,14742.812500
50%,2022-07-02 09:00:00,11.000000,-76.500000,1.285331,300.504150,-4.414642,-2.984062,101040.750000,301.796631,0.000000,3.092128e-06,0.000157,1.896424e-03,0.011815,193.857567,232.617249,268.323059,292.072388,-1.702103,1.682396,-4.881927,-3.911453,-0.782822,1.130470,0.432785,-0.372444,162844.187500,107631.687500,57643.689453,14812.408203
75%,2023-10-02 01:30:00,11.625000,-75.375000,1.855167,301.223145,-0.210121,-0.497150,101141.500000,302.536865,0.000000,3.709883e-06,0.000257,3.334036e-03,0.012804,195.786751,233.416550,269.017464,292.932251,3.269444,7.576107,-1.357586,-1.591671,2.174084,5.256855,2.411530,1.157719,163194.000000,107850.312500,57757.226562,14882.113281
max,2024-12-31 18:00:00,12.000000,-72.000000,4.973504,306.554443,12.270157,15.944214,101704.812500,308.126221,0.429190,8.995891e-06,0.000597,6.637643e-03,0.017336,204.252838,237.607849,273.532532,297.505859,29.670242,37.410217,23.537415,16.736649,24.600327,34.698975,18.476273,20.199142,164288.125000,108510.750000,58192.183594,15255.851562
std,NaN,0.962628,1.539415,0.728491,1.037810,4.519109,3.275838,150.460297,1.278259,0.084295,8.079955e-07,0.000104,1.513561e-03,0.002048,2.413765,1.166773,1.045835,1.237820,7.557750,8.574030,5.023065,4.652443,4.728930,6.727327,3.335884,2.524514,414.225647,287.183685,148.226669,102.957642