In [12]:
import pandas as pd

In [ ]:
from forecast.predictor import run_forecast

# Elige la región
region = "pacifico"  # o "atlantico"

# Ejecutar el pipeline completo de forecast
forecast_df = run_forecast(region)

# Guardar o visualizar
forecast_df.to_csv(f"forecast_{region}.csv", index=False)
print(f"✅ Predicción realizada para la región {region}. Guardado como forecast_{region}.csv")

In [ ]:
df_atla = pd.read_parquet(r"D:\PDG-ARMADA-FORECAST\datasets\atlantico.parquet")

In [7]:
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)

In [8]:
df_atla.describe()

,valid_time,latitude,longitude,swh,t2m,u10,v10,msl,sst,lsm,q_100.0,q_250.0,q_500.0,q_850.0,t_100.0,t_250.0,t_500.0,t_850.0,u_100.0,u_250.0,u_500.0,u_850.0,v_100.0,v_250.0,v_500.0,v_850.0,z_100.0,z_250.0,z_500.0,z_850.0
count,350784,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,3.507840e+05,350784.000000,3.507840e+05,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000,350784.000000
mean,2022-07-02 09:00:00,10.895833,-76.125000,1.395990,300.503784,-4.044739,-2.723960,101042.593750,301.587860,0.026823,3.206796e-06,0.000169,1.997700e-03,0.011364,194.186401,232.631516,268.402740,292.124786,-1.746138,2.508726,-4.614893,-4.721096,-0.845061,1.277450,0.325612,-0.434935,162900.625000,107647.648438,57650.472656,14812.616211
min,2020-01-01 00:00:00,9.000000,-78.000000,0.038841,295.902832,-16.492340,-12.688751,100414.937500,295.570801,0.000000,6.494705e-07,0.000002,4.868371e-07,0.000587,183.385666,226.883301,262.092957,286.581543,-29.410202,-29.185638,-26.277710,-27.488617,-27.582474,-31.385269,-21.511032,-13.040039,161782.187500,106552.000000,57059.285156,14233.929688
25%,2021-04-01 16:30:00,10.000000,-77.500000,0.828024,299.768799,-7.717373,-5.197159,100942.000000,300.736511,0.000000,2.632257e-06,0.000078,4.582773e-04,0.010293,192.474792,231.844414,267.707489,291.283386,-6.864414,-3.434307,-8.104645,-7.572830,-3.856609,-2.883217,-1.616714,-2.023975,162588.125000,107452.437500,57543.437500,14742.812500
50%,2022-07-02 09:00:00,11.000000,-76.500000,1.285331,300.504150,-4.414642,-2.984062,101040.750000,301.796631,0.000000,3.092128e-06,0.000157,1.896424e-03,0.011815,193.857567,232.617249,268.323059,292.072388,-1.702103,1.682396,-4.881927,-3.911453,-0.782822,1.130470,0.432785,-0.372444,162844.187500,107631.687500,57643.689453,14812.408203
75%,2023-10-02 01:30:00,11.625000,-75.375000,1.855167,301.223145,-0.210121,-0.497150,101141.500000,302.536865,0.000000,3.709883e-06,0.000257,3.334036e-03,0.012804,195.786751,233.416550,269.017464,292.932251,3.269444,7.576107,-1.357586,-1.591671,2.174084,5.256855,2.411530,1.157719,163194.000000,107850.312500,57757.226562,14882.113281
max,2024-12-31 18:00:00,12.000000,-72.000000,4.973504,306.554443,12.270157,15.944214,101704.812500,308.126221,0.429190,8.995891e-06,0.000597,6.637643e-03,0.017336,204.252838,237.607849,273.532532,297.505859,29.670242,37.410217,23.537415,16.736649,24.600327,34.698975,18.476273,20.199142,164288.125000,108510.750000,58192.183594,15255.851562
std,NaN,0.962628,1.539415,0.728491,1.037810,4.519109,3.275838,150.460297,1.278259,0.084295,8.079955e-07,0.000104,1.513561e-03,0.002048,2.413765,1.166773,1.045835,1.237820,7.557750,8.574030,5.023065,4.652443,4.728930,6.727327,3.335884,2.524514,414.225647,287.183685,148.226669,102.957642

In [3]:
import folium

# Crear mapa centrado
m = folium.Map(location=[5, -77], zoom_start=5)

# PACÍFICO
folium.Rectangle(bounds=[[8, -82], [-1, -75]], color='blue', fill=True, fill_opacity=0.2, tooltip="PACÍFICO").add_to(m)

# ATLÁNTICO
folium.Rectangle(bounds=[[12, -78], [8, -72]], color='red', fill=True, fill_opacity=0.2, tooltip="ATLÁNTICO").add_to(m)

m.save("zonas_ERA5.html")

In [7]:
import folium

# Crear el mapa centrado en Colombia
m = folium.Map(location=[6, -75], zoom_start=5)

# Coordenadas para PACÍFICO: [lat_norte, lon_oeste, lat_sur, lon_este]
PACIFICO = [8, -82, -1, -75]
folium.Rectangle(
    bounds=[[PACIFICO[0], PACIFICO[1]], [PACIFICO[2], PACIFICO[3]]],
    color='blue',
    fill=True,
    fill_opacity=0.3,
    tooltip="PACÍFICO"
).add_to(m)

# Coordenadas para ATLÁNTICO: [lat_norte, lon_oeste, lat_sur, lon_este]
ATLANTICO = [17, -84, 8, -66]
folium.Rectangle(
    bounds=[[ATLANTICO[0], ATLANTICO[1]], [ATLANTICO[2], ATLANTICO[3]]],
    color='red',
    fill=True,
    fill_opacity=0.3,
    tooltip="ATLÁNTICO"
).add_to(m)

# Guardar el mapa
m_path = "zonas_colombia_era5.html"
m.save(m_path)

m_path

'zonas_colombia_era5.html'

In [8]:
import pickle

with open("models_atlantico\lstm_model.h5", "rb") as f:
    history = pickle.load(f)

# Accede así:
loss = history["loss"]
val_loss = history.get("val_loss", None)

UnpicklingError: invalid load key, 'H'.

In [33]:
import xarray as xr

ncfile = r"D:\Download\fa968121080b273f55de05e8e7aade2f.nc"
try:
    ds = xr.open_dataset(ncfile)
    print(ds)            
    print(ds.dims)       
    print(ds.sizes) 
    df = ds.to_dataframe().reset_index()
except FileNotFoundError:
    print(f"File not found: {ncfile}")
except Exception as e:
    print(f"Error reading {ncfile}: {e}")

<xarray.Dataset> Size: 5kB
Dimensions:     (valid_time: 1, latitude: 37, longitude: 29)
Coordinates:
    number      int64 8B ...
  * latitude    (latitude) float64 296B 8.0 7.75 7.5 7.25 ... -0.5 -0.75 -1.0
  * longitude   (longitude) float64 232B -82.0 -81.75 -81.5 ... -75.25 -75.0
  * valid_time  (valid_time) datetime64[ns] 8B 2025-06-12
Data variables:
    v10         (valid_time, latitude, longitude) float32 4kB ...
Attributes:
    GRIB_centre:             ecmf
    GRIB_centreDescription:  European Centre for Medium-Range Weather Forecasts
    GRIB_subCentre:          0
    Conventions:             CF-1.7
    institution:             European Centre for Medium-Range Weather Forecasts
    history:                 2025-06-18T14:01 GRIB to CDM+CF via cfgrib-0.9.1...
FrozenMappingWarningOnValuesAccess({'valid_time': 1, 'latitude': 37, 'longitude': 29})
Frozen({'valid_time': 1, 'latitude': 37, 'longitude': 29})

In [13]:
prediccion = pd.read_csv(r"predictions\prediccion_pacifico_2025-06-12T0000_2025-06-14T1800.csv")

In [17]:
prediccion['valid_time'] = pd.to_datetime(prediccion['valid_time']).dt.date

In [28]:
prediccion[(prediccion['latitude']==8)&
           (prediccion['longitude']==-82)&
           (pd.to_datetime(prediccion['valid_time'])==pd.to_datetime('2025-06-12'))][['u10']]

            u10
12528  1.208101
12529  1.351634
12530  1.439176
12531  0.753200

In [31]:
prediccion[(prediccion['latitude']==8)&
           (prediccion['longitude']==-81.25)&
           (pd.to_datetime(prediccion['valid_time'])==pd.to_datetime('2025-06-12'))][['u10']]

            u10
12564  0.127926
12565 -0.156558
12566 -0.068630
12567  0.430299

In [27]:
df

     valid_time  latitude  longitude       u10  number
0    2025-06-12       8.0     -82.00  2.785473       0
1    2025-06-12       8.0     -81.75  2.094311       0
2    2025-06-12       8.0     -81.50  1.286449       0
3    2025-06-12       8.0     -81.25  0.584789       0
4    2025-06-12       8.0     -81.00  0.635326       0
...         ...       ...        ...       ...     ...
1068 2025-06-12      -1.0     -76.00 -0.471119       0
1069 2025-06-12      -1.0     -75.75 -0.091480       0
1070 2025-06-12      -1.0     -75.50 -0.048023       0
1071 2025-06-12      -1.0     -75.25 -0.377857       0
1072 2025-06-12      -1.0     -75.00 -0.865894       0

[1073 rows x 5 columns]

In [35]:
prediccion[(prediccion['latitude']==8)&
           (prediccion['longitude']==-82)&
           (pd.to_datetime(prediccion['valid_time'])==pd.to_datetime('2025-06-12'))][['v10']]

            v10
12528 -0.338683
12529 -0.495199
12530 -0.743654
12531  0.668429

In [36]:
prediccion[(prediccion['latitude']==8)&
           (prediccion['longitude']==-81.25)&
           (pd.to_datetime(prediccion['valid_time'])==pd.to_datetime('2025-06-12'))][['v10']]

            v10
12564 -0.801150
12565 -0.572116
12566 -0.365456
12567  0.142842

In [34]:
df

     valid_time  latitude  longitude       v10  number
0    2025-06-12       8.0     -82.00 -0.229107       0
1    2025-06-12       8.0     -81.75 -0.220806       0
2    2025-06-12       8.0     -81.50 -0.000347       0
3    2025-06-12       8.0     -81.25  0.222309       0
4    2025-06-12       8.0     -81.00  0.467670       0
...         ...       ...        ...       ...     ...
1068 2025-06-12      -1.0     -76.00  0.737690       0
1069 2025-06-12      -1.0     -75.75  0.663715       0
1070 2025-06-12      -1.0     -75.50  0.688129       0
1071 2025-06-12      -1.0     -75.25  0.755756       0
1072 2025-06-12      -1.0     -75.00  0.709858       0

[1073 rows x 5 columns]

In [11]:
import pickle

with open("models_pacifico/history.pkl", "rb") as f:
    history = pickle.load(f)

# Ejemplo de acceso
loss = history["loss"]

In [12]:
mae = history["mae"]

In [13]:
mae

[0.40697190165519714,
 0.35929086804389954,
 0.34814390540122986,
 0.34233084321022034,
 0.3385903239250183,
 0.33589985966682434,
 0.33379796147346497,
 0.3320072889328003,
 0.3303411900997162,
 0.32635051012039185,
 0.3192763328552246,
 0.31156399846076965,
 0.3075849711894989,
 0.30542391538619995,
 0.3038754463195801,
 0.3026154637336731,
 0.30154770612716675,
 0.30060669779777527,
 0.2996940016746521,
 0.29889369010925293,
 0.29830726981163025,
 0.2975546717643738,
 0.2970491349697113,
 0.29639166593551636,
 0.2959356904029846,
 0.29550760984420776,
 0.2950046956539154,
 0.29467785358428955,
 0.2941987216472626,
 0.29388120770454407,
 0.2935698628425598,
 0.29336440563201904,
 0.2929896414279938,
 0.29266253113746643,
 0.2924169600009918,
 0.2923392057418823,
 0.29190972447395325,
 0.29169565439224243,
 0.2914733588695526,
 0.29142341017723083,
 0.29116371273994446,
 0.2909719944000244,
 0.2906518578529358,
 0.29084017872810364,
 0.2903386950492859,
 0.2901657521724701,
 0.28986430168151855,
 0.2898373007774353,
 0.289576917886734,
 0.28944131731987]

In [14]:
history['lr']

[0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001,
 0.001]

In [ ]:
models_pacifico\history.pkl